/* Base Styles */
body {
    font-family: 'Titillium Web', sans-serif;
    font-size: medium;
    line-height: 26px;
    margin: auto;
    text-align: center;

  }

.title {
   color: #F39933;
   font-size: 78pt;
   padding-left: .5em;
}

.main-header {
    margin: auto;
    height: 500px;
    padding: .5em;
    text-align: center;
    background-image: url('../img/keyboard.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

li { 
    list-style: none;
}

.main-nav {
    text-transform: uppercase;
    font-size: large;
    font-weight: bolder;
}

.main-nav li {
    margin: 30px;
}

.dropdown-content {
    position: relative;
    display: none;
    font-size: medium;
    width: 1em;
    padding-top: 10px;
}

a {
    text-decoration: none;
    color: #EE9C6A;
}

.contact-modal {
    display: none;
    background-color: rgba(0,0,0,0.4);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
}

.contact-form {
    background-color: #CDB8C9;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    border-radius: 5px;
    
}

.exit-modal {
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.keyboard {
    max-width: 100%;
    height: auto;
}

.intro {
    text-align: center;
    color: antiquewhite;opacity: .6;
    padding-top: 10px;
}

.primary-content {
    display: block;
    padding-top: 10px 10px;
    background-color: slategray;
    text-align: center;
}

.secondary-content {
    display: block;
    background-color: #594F5A;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
}

.grid {
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    background-color: antiquewhite;
    opacity: .6;
}
.footer {
    height: 75px;
    padding-top: 10px;
    background: slategrey;
}

.top {
    display: block;
    align-content: center;
    text-align: center;
    margin: auto;
    font-size: large;
}

.wdr, .blc, .comp, .conversation-club {
    height: 300px;
    width: 300px;
    border: 1px solid antiquewhite;
    border-radius: 4px;
}


.container {
    display: block;
    align-content: center;
    background-color: #A499A9;
    border-radius: 15px;
    box-shadow: 0 0 25px #c08f83;
    font-weight: bold;
}

.container-2 {
    background-color: #A499A9;
    border-radius: 15px;
    box-shadow: 0 0 25px #c08f83;
    font-weight: bold;
}

.name, .email, .message {
    font-size: large;
    font-weight: bold;
    padding-bottom: 10px;
}

.button {
    background-color: #F39933;
    color: white;
    border: none;
    font-size: large;
    padding: 10px 20px;
}

#work, #market, #research, #needs, #web {
    color: #c08f83;
    opacity: .8;
}
/* Media Queries */
@media (min-width: 769px) {
    .main-header {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
    }

    #work {
        text-align: center;
    }


    .secondary-content {
        text-align: left;
        padding-left: 150px;
        padding-right: 150px;
    }

    .main-header {
        flex-direction: column;
        justify-content: space-between;
    }

    .container {
        display: flex;
        flex-direction: row;
    }

    .container-2 {
        display: flex;
        flex-direction: row;
        padding-bottom: 10px;
    }

    .item-2,
    .item-6 {
        padding-left: 20px;
    }

    .item-4 {
        padding-right: 20px;
        padding-left: 20px;
        
    }

    .skillset {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-evenly;
        flex-wrap: wrap;
        
    }

    .grid {
        flex: 1;
        text-align: center;
        align-items: center;
        padding: 10px 20px;
        margin: 5px;
        border-radius: 5px;
        background-color: antiquewhite;opacity: .6;
    }
}

@media (min-width: 1025px) {
    .main-header {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
    }

    .title {
        padding-top: 2em;
    }

    .main-nav {
        display: flex;
        flex-direction: row;
    }

    .work-nav:hover .dropdown-content {
        display: block;
    }

    .primary-content {
        display: block;
        padding: 10px 300px;
        text-align: left;
    }

    .skillset {
        flex-wrap: nowrap;
    }

    @media (min-width: 1250px) {
    .secondary-content {
        padding-left: 300px;
        padding-right: 300px;
    }
}}