/* Base Styles */
body {
    font-family: 'FantasqueSansMonoRegular', sans-serif;
    font-size: medium;
    line-height: 26px;
    margin: auto;
  }

.title {
   color: #F39933;
   font-size: 78pt;
}

.main-header {
    margin: auto;
    height: 600px;
    padding-top: .5em;
    padding-bottom: .5em;
    text-align: center;
    background-image: url('../img/keyboard.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

li { 
    list-style: none;
}

.main-nav {
    text-transform: uppercase;
    height: 400px;
}

.main-nav li {
    margin: 80px 80px;
}

.dropdown-content {
    position: relative;
    display: block;
    font-size: medium;
    width: 1em;
}

a {
    text-decoration: none;
    color: #EE9C6A;
}

.contact-modal {
    display: none;
    background-color: rgba(0,0,0,0.4);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
}

.contact-form {
    background-color: #CDB8C9;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    
}

.exit-modal {
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.keyboard {
    max-width: 100%;
    height: auto;
}

.primary-content {
    display: block;
    padding-top: 10px;
    background-color: #A499A9;
    text-align: center;
}

.secondary-content {
    display: block;
    background-color: #A499A9;
    padding-top: 10px;
    padding-bottom: 10px;
}
.footer {
    height: 75px;
    padding-top: 10px;
    background: slategrey;
}

.top {
    display: block;
    align-content: center;
    text-align: center;
    margin: auto;
    font-size: large;
}
/* Media Queries */
@media (min-width: 769px) {
    .main-header,
    .title,
    .main-nav {
        width: 100%;
        margin: auto;
        padding: .5em .5em;
    }

    .dropdown-content {
        display: none;
        min-width: 150px;
    }
    
    .work-nav:hover .dropdown-content {
        display: inline-block;
    }
    .primary-content {
        display: flex;
        padding-top: 10px;
    }

    .col {
        flex: 1;

    }
    .main-header {
        flex-direction: column;
        justify-content: space-between;
    }
}

@media (min-width: 1025px) {
    .main-header {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
    }

    .main-nav {
        display: flex;
        flex-direction: row;
    }

    .primary-content {
        padding: 10px 300px;
        text-align: left;
    }

    .secondary-content {
        padding-left: 300px;
        padding-right: 300px;
    }

    .research,
    .web,
    .art {
        display: flex;
        flex-direction: column;
    }
}
